@media screen and (max-width:800px) {
    .logo {
        padding: 15px;
        margin-right:  50px;
    }
}

@media screen and (max-width:400px) {
    .logo {
        padding: 0px;
        
    }
}

@media screen and (max-width:350px) {
    .logo {
        padding: 0px;
        
    }
    
    
}
